@charset "UTF-8";
body{
    background: black url(../imagens/back-print.jpg) center center no-repeat fixed;
}
#pc{
    display: none;
}
#phone{
    display: none;
}
#tablet{
    display: none;
}
#TV{
    display: none;
}
#print{
    display: block;
}